# general modules
django >3.2, <3.3
python-decouple
pillow
requests
beautifulsoup4

# databases
psycopg2-binary

# refactor & test modules
Faker

# third party
numpy

# deployment

# Background processing and cache
